.dropdown {
  width: 100%;
  position: relative;
  background-color: var(--background-color);
  --dropdown-padding: 0.375rem;
}

.dropdown input {
  border: 1px solid var(--border-color);
  border-bottom: none;
  width: 100%;
  height: 100%;
  padding: var(--dropdown-padding);
  opacity: 0;
}

.dropdown input:focus {
  opacity: 1;
}

.value {
  border: 1px solid var(--border-color);
  width: 100%;
  padding: var(--dropdown-padding);
  position: absolute;
  top: 0;
  pointer-events: none;
}

.value.disabled {
  color: var(--grey);
  border-color: var(--grey);
}

input:focus + .value {
  opacity: 0;
}

.options {
  display: none;
  position: absolute;
  width: 100%;
  max-height: calc(5 * (1.4rem + 2 * var(--dropdown-padding)));
  border: 1px solid var(--border-color);
  border-top: none;
  background-color: inherit;
  overflow-y: auto;
  z-index: 1;
}

input:focus ~ .options,
.options:active {
  display: block;
}

.item {
  padding: var(--dropdown-padding);
}

.item:hover,
.item.pseudohover {
  background-color: var(--lt-grey);
}

.item.selected {
  background-color: var(--lt-grey);
  font-weight: bold;
}

.placeholder,
input::placeholder,
.no.item {
  color: var(--dk-grey);
}
