html,
body,
div,
form,
label,
span,
button,
input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  border: inherit;
  background-color: inherit;
  color: inherit;
  font: inherit;
}

button:focus,
input:focus {
  outline: none;
}

#root {
  font-family: 'Segoe UI', sans-serif;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  --lt-shadow: rgba(0, 0, 0, 0.1);
  --dk-shadow: rgba(0, 0, 0, 0.3);
  --off-black: #222;
  --lt-grey: #eee;
  --dk-grey: #999;
  --text-color: var(--off-black);
  --border-color: var(--off-black);
  color: var(--text-color);
}

@media only screen and (min-width: 600px) {
  #root {
    width: calc(600px + 0.5 * (100% - 600px));
  }
}

@media only screen and (min-width: 1800px) {
  #root {
    width: 900px;
  }
}
